<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>Label</key>
    <string>happynet</string>
    <key>StandardErrorPath</key>
    <string>/Applications/happynet/var/happynet.log</string>
    <key>StandardOutPath</key>
    <string>/Applications/happynet/var/happynet.log</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Applications/happynet/bin/happynet</string>
      <string>/Applications/happynet/etc/happynet.conf</string>
      <string>-f</string>
    </array>
  </dict>
</plist>
