<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>KeepAlive</key>
    <true/>
    <key>RunAtLoad</key>
    <true/>
    <key>Label</key>
    <string>happynmacos</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/edge</string>
      <string>/usr/local/etc/edge.conf</string>
      <string>-f</string>
    </array>
  </dict>
</plist>
